<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SISEDU</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">



    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>

<body>
    <div class="p-2"></div>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <div class="container">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a href={{ url_for( 'maestro' ) }} class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Volver al aula virtual<i class="fa fa-arrow-right ms-3"></i></a>
            </div>
        </nav>
        <div class="container-xxl py-5">
            <h1 class="h1 center"> Registro de calificaciones </h1>
            <form action="/calificar" method="post">
                <div class="row">
                    <label for=""><b>Datos del Estudiantes:</b></label>
                    <textarea name="" id="" cols="30" rows="10">SALDRA EL NOMBRE DEL ESTUDIANTE </textarea>

                </div>
                <br>
                <div class="row">
                    <label for=""><b>Ingrese las calificaciones:</label>
                    <div class="col-3">
                        <br>
                        <label class="form-check-label" for="inlineRadio4">Nota 1</label>
                        <input type="number" class="form-control " placeholder="Nota 1 " id="calificacion_registro1 " name="calificacion_registro1 ">
                    </div>

                    <div class="col-3">
                        <br>
                        <label class="form-check-label" for="inlineRadio4">Nota 2</label>
                        <input type="number" class="form-control " placeholder="Nota 2 " id="calificacion_registro2 " name="calificacion_registro2 ">
                    </div>
                    <div class="col-3">
                        <br>
                        <label class="form-check-label" for="inlineRadio4">Nota Final</label>
                        <input type="number" class="form-control " placeholder="Nota Final " id="calificacion_registro3 " name="calificacion_registro3 ">
                    </div>
                </div>
                <br>
                <div class="text-right ">

                    <button type="submit " value="submit " class="btn btn-dark text-sm-start">Registrar</button>
                </div>
                <div class="text-center ">
                    <h2 style="color: brown; ">{{result}}</h2>
                </div>
            </form>
        </div>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js "></script>
    <script src="static/lib/wow/wow.min.js "></script>
    <script src="static/lib/wow/wow.min.js "></script>
    <script src="static/lib/easing/easing.min.js "></script>
    <script src="static/lib/waypoints/waypoints.min.js "></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js "></script>

    <!-- Template Javascript -->
    <script src="static/js/main.js "></script>
</body>

</html>
