{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="container-xxl py-5">
        <h1>Información General del sitio web</h1>
        <h3>Filosofía Organizacional</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, penatibus urna augue lobortis ante consequat, felis nullam arcu dis venenatis vivamus mauris, placerat fringilla eu massa ut. Gravida suspendisse cum lobortis magnis odio hendrerit iaculis
            auctor pretium, netus malesuada proin maecenas dignissim metus eros enim vestibulum luctus, pellentesque mi curabitur fusce torquent purus placerat dis. Class egestas cum vel habitasse vivamus placerat conubia litora leo, et faucibus sollicitudin
            proin consequat est dictum etiam curabitur, habitant quis nostra metus convallis ultrices eget urna.</p>
        <h3>Misión</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit purus, sociis magnis mi porta potenti conubia turpis dignissim, quisque habitasse elementum suspendisse parturient himenaeos risus. At hendrerit porta felis in praesent ullamcorper aliquet
            morbi eleifend, consequat fermentum mi cras nulla accumsan enim quisque massa, feugiat ut neque nec torquent aenean dictum integer. Luctus placerat sagittis enim porta vel class netus justo pharetra nulla proin, cum sem rhoncus nisi diam platea
            accumsan integer etiam tempor, curae nascetur dictumst lacinia sed tincidunt montes sodales dictum natoque. </p>
        <h3>Visión</h3>
        <P> Lorem ipsum dolor sit amet consectetur adipiscing elit purus, sociis magnis mi porta potenti conubia turpis dignissim, quisque habitasse elementum suspendisse parturient himenaeos risus. At hendrerit porta felis in praesent ullamcorper aliquet
            morbi eleifend, consequat fermentum mi cras nulla accumsan enim quisque massa, feugiat ut neque nec torquent aenean dictum integer. Luctus placerat sagittis enim porta vel class netus justo pharetra nulla proin, cum sem rhoncus nisi diam platea
            accumsan integer etiam tempor, curae nascetur dictumst lacinia sed tincidunt montes sodales dictum natoque.</P>

        <div class="text-center">
            <i class="fa fa-10x bi bi-cpu-fill mb-10 center"></i>
        </div>

    </div>
</div>



{% endblock %}